<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Asim Alamri</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="personal website for Asim Alamri" />
		<meta property="og:site_name" content="Asim Alamri" />
		<meta property="og:title" content="Asim Alamri" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="personal website for Asim Alamri" />
		<link href="https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../../static/home/main.css" />
		<noscript><link rel="stylesheet" href="../../static/home/noscript.css" /></noscript>
	</head>
	<body class="is-loading">
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<header id="header">
						<ul id="buttons01" class="buttons">
							<li>
								<a href="#about" class="button n01">About</a>
							</li><li>
								<a href="#future" class="button n02">Future</a>
							</li><li>
								<a href="#contact" class="button n03">Contact</a>
							</li>
						</ul>
					</header>
					<section id="home-section">
						<h1 id="text04"><span>Hi, I make awesome</span><br /><span>stuff for the WWW</span></h1>
						<p id="text06">And i&#39;m the back-end web developer you <strong>need</strong> to hire.</p>
					</section>
					<section id="about-section">
						<p id="text01">About me</p>
						<div id="image02" class="image">
							<span class="deferred"><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCA2MDAgNjAwIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI%2BPHJlY3QgZmlsbD0iIzhlN2Q3NyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIvPjwvc3ZnPg%3D%3D" data-src="assets/images/image02.jpg" alt="" /></span>
						</div>
						<p id="text03"><span><strong>A computer science student in king saud university.</strong></span><br /><br /><span>I started making websites as a self-challenge to learn Laravel. Then suddenly I fell in love with it!</span><br /><span>my first REAL website was <a href="https://sppwebsite.herokuapp.com/">for the SPP (Student Partnership Program)</a> in the university</span><br /><span>I work for <a href="https://nit.sa">Nibras capital</a> and it was amazing until Covid-19 pandemic.</span></p>
					</section>
					<section id="future-section">
						<p id="text07">Future plans</p>
						<p id="text08"><span class="li"><strong>I love python.</strong> currently I am learning django (python web framework) and this is how I made this website :)</span><span class="li"><strong> Flutter</strong> what an amazing framework!</span><span><span class="li"><strong>.NET</strong> C# is basically microsoft&#39;s java so no steep learning curve. and .NET can be used every where. I see a lot of job opportunities for it&#39;s developers so I may give it a shot.</span></span></p>
					</section>
					<section id="contact-section">
						<p id="text05">Contact</p>
						<ul id="icons01" class="icons">
							<li>
								<a class="n01" href="https://twitter.com/i3asmDev">
									<svg><use xlink:href="assets/icons.svg#twitter"></use></svg>
									<span class="label">Twitter</span>
								</a>
							</li><li>
								<a class="n02" href="https://instagram.com/i3asm">
									<svg><use xlink:href="assets/icons.svg#instagram"></use></svg>
									<span class="label">Instagram</span>
								</a>
							</li><li>
								<a class="n03" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%69%33%61%73%6d%6d%61%69%6c%40%67%6d%61%69%6c%2e%63%6f%6d">
									<svg><use xlink:href="assets/icons.svg#email-alt"></use></svg>
									<span class="label">Email</span>
								</a>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
		<script src="../../static/home/main.js"></script>
	</body>
</html>